<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451868828876-gaq2j9t657h17cp97teck5hoiskf0kkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451868828876-gaq2j9t657h17cp97teck5hoiskf0kkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAq4zseAqYmk93N-RiIMrSt5_Af3Tg7wTI</string>
	<key>GCM_SENDER_ID</key>
	<string>451868828876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.misksolution.matjarcom</string>
	<key>PROJECT_ID</key>
	<string>matjarcom-f59f4</string>
	<key>STORAGE_BUCKET</key>
	<string>matjarcom-f59f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451868828876:ios:3f2bbc7913bd73a6f14e69</string>
</dict>
</plist>